force-app/main/default/flows/Privacy_Settings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Privacy Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Privacy Settings</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Individual</name>
        <label>Create Individual</label>
        <locationX>351</locationX>
        <locationY>280</locationY>
        <assignRecordIdToReference>individualId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_with_Individual</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>UserInfo.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutGeoTracking</field>
            <value>
                <elementReference>I_don_t_want_you_to_track_my_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutSolicit</field>
            <value>
                <elementReference>I_don_t_want_to_be_contacted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutTracking</field>
            <value>
                <elementReference>I_don_t_want_you_to_track_my_usage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>UserInfo.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>registrantsAccountOwner</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Information</name>
        <label>Get Account Information</label>
        <locationX>100</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Communication_Preferences</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registrants</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>registrantsAccount</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>registrantsAccountOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>106</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserInfo</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_Individual</name>
        <label>Update Contact with Individual</label>
        <locationX>348</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>Welcome_to_Ursa_Major</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserInfo.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>individualId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Communication_Preferences</name>
        <label>Communication Preferences</label>
        <locationX>103</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Individual</targetReference>
        </connector>
        <fields>
            <name>privacyPrompt</name>
            <fieldText>We value your privacy! Let us know if you’d like us to contact you, know about your location, or track your portal usage to improve performance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_don_t_want_to_be_contacted</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&#39;t want to be contacted</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_don_t_want_you_to_track_my_usage</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&#39;t want you to track my usage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_don_t_want_you_to_track_my_location</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&#39;t want you to track my location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_to_Ursa_Major</name>
        <label>Welcome to Ursa Major</label>
        <locationX>348</locationX>
        <locationY>44</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thankYou</name>
            <fieldText>Thank you for updating your privacy settings and welcome to the Ursa Major customer account portal!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_User_Info</startElementReference>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>individualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>registrantsAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>registrantsAccountOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
